{% extends 'base.html.twig' %}

{% block title %}Test Title{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# templates/base.html.twig #}

    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


        <div class="alert alert-success">

            {{ foobar }}
        </div>

<div class="example-wrapper">
    <h1>I'm Home Page</h1>
</div>
{% endblock %}
